* {
	text-decoration: none;
	font-weight: normal;
	padding: 0;
	margin: 0;
	font-size: 15px;
}

body {
	line-height: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: serif;
	background-color: black;
	color: white;
}

.center-pane {
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 100px;
    min-height: 60vh;
	background-color: black;
	padding-bottom: 50px;
}

@media (max-width: 600px) {
	.center-pane {
		padding: 15px;
		width: 90%;
	}
}

.main-image {
	width: 100%;
}

.header-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 450px;
	margin: auto;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media (max-width: 500px) {
	.header-wrapper {
		flex-direction: column;
    	align-items: center;
    	width: 100%;
	}
}

.header-link {
	color:#937D63;
	font-weight: bold;
}

.table-of-contents {
	font-style: italic;
	margin-bottom: 50px;
}


.page-wrapper {
	margin: auto;
	margin-top: 50px;
	font-family: Helvetica;
}

p {
	margin-bottom: 15px;
}

img {
	max-width: 100%;
}
.post-link a span {
	color: mediumpurple;
	font-size: 32px;
}


.blog-index-wrapper {
    margin-top: 50px;
	display: flex;
    align-items: center;
    flex-direction: column;
}

.post-outer-wrapper {
	/*background-color: lightgrey;*/
	/*border: 1px solid blue;*/
	padding: 30px;
	margin-top: 40px;
	min-height: 100vh;
	font-family: Helvetica;
}
.post-title {
	font-size: 18px;
	margin-bottom: 30px;
	width: 100%;
	text-align: center;
}


.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-7ll4{background-color:#ffecfc;border-color:#000000;color:#000000;text-align:left;vertical-align:top}
.tg .tg-hq95{background-color:#ffce93;border-color:#000000;color:#000000;text-align:left;vertical-align:top}
.tg .tg-7hsb{background-color:#d2d4ff;border-color:#000000;color:#000000;text-align:left;vertical-align:top}
.tg .tg-vq2r{background-color:#ffccc9;border-color:#000000;color:#000000;text-align:left;vertical-align:top}
.tg .tg-j4b9{background-color:#9aff99;border-color:#000000;color:#000000;text-align:left;vertical-align:top}
.tg .tg-9bp6{background-color:#96fffb;border-color:#000000;color:#000000;text-align:left;vertical-align:top}
.tg .tg-ku1y{background-color:#dae8fc;border-color:#000000;color:#000000;text-align:left;vertical-align:top}
.tg .tg-r6jj{background-color:#ffffc7;border-color:#000000;color:#000000;text-align:left;vertical-align:top}
